* {
    font-family: Arial, Helvetica, sans-serif;
}

header,
footer {
    background-color: #999;
    color: #fff;
    padding: 15px;
    margin-bottom: 15px;
    margin-top: 15px;

}

section {
    background-color: #ddd;
    padding: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
}

article {
    background-color: #eee;
    padding: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
}

nav {
    background-color: #eee;
    padding: 15px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

